body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-weight:220;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  p{
    font-size:18px;
  }

  .hero {
    /* text-align: center; */
    padding: 100px 0;
    background-color: #f4f4f4;
  }
  
  .non {
    list-style-type: none;
    padding: 0;
  }
  
  .non{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  
  .non a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
  }

.h1{
    font-size: 35px;
  }

.hell{
    margin-left: 100px;
    margin-right: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
  }
  .button-1 {
    background-color: #000000aa;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #00000079;
  }

  .btn2{
    position: relative;
    left:160vh;
  }

  @media only screen and (max-width:1300px){
    .hell{
      margin-left: 20px;
      margin-right: 20px;
    }
    .sec{
      font-size: 20px;
    }
    h1{
      font-size: 25px;
    }
    .btn2{
      position: relative;
      left:20vh;
    }
    .hell{
      font-size:25px;
    }
    p{
      font-size:20px;
    }
    .fgh{
      height: 100px;
      width:200px;
    }
  }